{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição realizada com sucesso</title>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions_person_sucess.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class='banner'>Obrigado por se inscrever!</h1>
    <p class="detail_here">Aqui estão os detalhes da sua inscrição:</p>
    <ul class="detail_list">
        <li class="detail_list__item"><strong>Nome:</strong> {{ participante.name }}</li>
        <li class="detail_list__item"><strong>CPF:</strong> {{ participante.CPF }}</li>
        <li class="detail_list__item"><strong>Idade:</strong> {{ participante.age }}</li>
        <li class="detail_list__item"><strong>Sexo:</strong> {{ participante.gender }}</li>
        <li class="detail_list__item"><strong>E-mail:</strong> {{ participante.email }}</li>
        <li class="detail_list__item"><strong>Telefone:</strong> {{ participante.phone }}</li>
        <li class="detail_list__item"><strong>Evento inscrito:</strong> 
            <ul class="detail_list__item__sublist">
                {% for event in participante.events.all %}
                    <li>{{ event.name }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</body>
</html>