body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

.options {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options__div {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options__div__banner {
    font-weight: 700;
}

.options__div__option {
    background-color: #154e8bb2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}